@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', system-ui;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.site__wrapper {
    padding: 32px;
}

h1, h2, h3, h4, h5, h6 {
    color: #243e63;
    text-align: center;
    line-height: 1.5;
}

p {
    color: #243e63;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #243e63;
    font-weight: 700;
    position: relative;
}

li {
    list-style-type: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.text--purple {
    color: #6415ff;
}

@keyframes right {
    0% {
        transform: translate(100vw);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes left {
    0% {
        transform: translate(-100vw);
    }

    100% {
        transform: translate(0);
    }
}

#landing__page {
    animation: left 1000ms ease;
}

#features {
    animation: right 1000ms ease;
}

#work {
    animation: left 1000ms ease;
}

#steps {
    animation: right 1000ms ease;
}

#values {
    animation: left 1000ms ease;
}

#pricing {
    animation: right 1000ms ease;
}

#testimonials {
    animation: left 1000ms ease;
}

#faq {
    animation: right 1000ms ease;
}

#devbox {
    animation: left 1000ms ease;
}

footer {
    animation: right 1000ms ease;
}

/* 

NAV

*/

nav {
    height: 44px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    padding-bottom: 4px;
}

.site__logo--text {
    font-size: 24px;
    font-weight: 900;
}

.site__logo--img {
    width: 40px;
    margin-right: 12px;
}

.nav__link--list {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 14px;
    margin: 0 24px;
    padding-bottom: 4px;
    transition: all 300ms ease;
}

.nav__link--login {
    font-size: 14px;
    margin: 0 24px 0 48px;
    padding-bottom: 4px;
    transition: all 300ms ease;
}

.nav__link:hover,
.nav__link--login:hover {
    color: #6415ff;
}

.nav__link:after,
.nav__link--login:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -5px;
    left: 0;
    transition: all 300ms ease;
}

.nav__link:hover:after,
.nav__link--login:hover:after {
    background-color: #6415ff;
}

.nav__link--signup {
    font-size: 14px;
    background-color: #6415ff;
    color: #f7fafc;
    padding: 12px 32px;
    border-radius: 50px;
    transition: all 300ms ease;
}

.nav__link--signup:hover {
    background-color: #5011cc;
    color: #edf2f7;
}

/*

LANDING PAGE

*/

.landing__page--wrapper {
    width: 100%;
    height: calc(100vh - 40px);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 96px 0;
}

.landing__page--query {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing__page--img {
    width: 100%;
    height: 100%;
}

.landing__page--heading {
    text-align: left;
    color: #1a202c;
    font-size: 36px;
}

.landing__page--desc {
    text-align: left;
    font-size: 16px;
    margin: 32px 0;
}

.landing__page--input--box {
    min-width: 400px;
    position: relative;
    display: flex;
    align-items: center;
}

.landing__page--input {
    width: 100%;
    font-size: 20px;
    color: #7c8ba1;
    padding: 20px 192px 20px 32px;
    border: 2px solid #7c8ba1;
    border-radius: 100px;
    transition: all 300ms ease;
}

.landing__page--input:hover {
    border: 2px solid #4a5568;
}

.landing__page--input--button {
    width: 128px;
    font-size: 16px;
    font-weight: 700;
    background-color: #6415ff;
    color: #f7fafc;
    padding: 16px 0;
    margin: 8px 8px 8px 0;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    transition: all 300ms ease;
}

.landing__page--input--button:hover {
    background-color: #5011cc;
    color: #edf2f7;
}

.landing__page--customers--wrapper {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.landing__page--customers {
    font-size: 12px;
    color: #A0AEC0;
}

.landing__page--customers--picture {
    margin-top: 16px;
    padding-right: 64px;
}


/*

FEATURES

*/

.container {
    padding: 80px 0;
}

.feature__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__mini-heading {
    margin-bottom: 16px;

}

.features__heading {
    font-size: 48px;
    font-weight: 900;
}

.features__desc {
    color: #7c8ba1;
    font-size: 18px;
    margin-top: 16px;
    text-align: center;
    padding: 0 48px;
    width: 80%;
    max-width: 700px;
}

.services {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    width: calc(100% / 3.5);
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 16px;
    padding: 32px 8px;
}

.service__icon--box {
    display: flex;
    align-items: start;
    transform: translateY(24px);
}

.service__icon {
    padding: 20px;
    border: 1px solid #A0AEC0;
    border-radius: 50px;
}

.service__box {
    margin: 8px 0 0 16px;
}

.service__title {
    text-align: left;
    margin-top: 16px;
    font-size: 24px;
}

.service__desc {
    color: #7c8ba1;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
}

/*

WORK

*/

.work__wrapper {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
}

.work__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 24px;
}

.work__sub-heading {
    text-align: left;
    font-size: 16px;
}

.work__heading {
    text-align: left;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.25;
}

.work__desc {
    text-align: left;
    margin-top: 16px;
    font-size: 18px;
    color: #7c8ba1;
    font-weight: 600;
}

.work__button {
    margin-top: 32px;
    padding: 12px 32px;
    max-width: 150px;
}

.work__picture--box {
    width: 50%;
    display: flex;
    align-items: center;
}

.work__picture {
    width: 100%;
    border: 1px solid #7c8ba1;
    border-radius: 5px;
}

/* 

STEPS

*/

.steps__picture--box {
    width: 50%;
    display: flex;
    align-items: center;
}

.steps__picture {
    width: 100%;
}

.steps__text {
    width: 50%;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step__number {
    font-size: 36px;
    color: #cbd5e0;
}

.step__text {
    text-align-last: left;
    margin-left: 24px;
}

.step__name {
    font-size: 20px;
}

.step__desc {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
}

/*

VALUES

*/

.values__text {
    width: 50%;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.values__picture--box {
    width: 50%;
    display: flex;
    align-items: center;
}

.values__picture {
    width: 100%;
}

.values__features {
    display: flex;
}

.values__features--container {
    margin: 32px 32px 48px 0;
    display: flex;
    flex-direction: column;
}

.values__features--heading--container {
    display: flex;
    align-items: center;
}

.values__features--heading {
    margin-left: 12px;
}

.values__features--desc {
    font-size: 16px;
    color: #718096;
    margin-top: 16px;
}

/*

PRICING

*/

.pricing__sub-heading {
    padding-top: 48px;
}

.pricing__desc {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.pricing__container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}

.pricing {
    margin: 64px 32px 0 0;
    padding: 8px 32px 0;
    width: 100%;
    max-width: 400px;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.15);
}

.pricing__price--box {
    padding: 32px 0;
    
}

.personal__box {
    border-top: 8px rgb(56, 178, 172) solid;
}

.enterprise__box {
    border-top: 8px rgb(245, 101, 101) solid;
}

.pricing__title {
    font-size: 20px;
    color: #1a202c;
}

.pricing__price {
    font-size: 48px;
    color: #1a202c;
    margin: 4px 0;
}

.pricing__time {
    font-size: 16px;
    color: #A0AEC0;
    font-weight: 800;
}

.pricing__features--box {
    padding: 32px;
    margin: 0 -32px;
    border: 2px #718096 solid;
    border-right: 0;
    border-left: 0;
}

.pricing__feature {
    font-size: 16px;
    color: #718096;
    margin-top: 20px;
}

.pricing__special {
    background-color: #6415ff;
    border-top: 8px #6415ff solid;
}

.pricing__white {
    color: white;
}

.pricing__button--box {
    padding: 32px;
    display: flex;
    justify-content: center;
}

.pricing__button--personal {
    font-size: 14px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    transition: all 500ms ease;
    border: none;
    color: #fff;
    padding: 16px 32px;
    border-radius: 100px;
}

.pricing__button--business {
    font-size: 14px;
    color: #5011cc;
    background-color: white;
    transition: all 500ms ease;
    padding: 16px 32px;
    border-radius: 100px;
}

.pricing__button--enterprise {
    font-size: 14px;
    color: white;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    transition: all 500ms ease;
    padding: 16px 32px;
    border-radius: 100px;
}

.pricing__button--business:hover,
.pricing__button--personal:hover,
.pricing__button--enterprise:hover {
    transform: translate(3px, -3px);
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.15);
}

.pricing__button--business:hover {
    background-color: #dadbdd;
}

/*

TESTIMONIALS

*/

.testimonials__picture--box {
    width: 50%;
    display: flex;
    align-items: center;
}

.testimonials__picture {
    width: 100%;
}

.testimonials__text {
    width: 50%;
    padding-left: 64px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.testimonials__heading {
    font-size: 48px;
    font-weight: 800;
    margin-top: 16px;
}

.testimonials__desc1 {
    font-size: 18px;
    color: #7c8ba1;
    font-weight: 600;
    margin-top: 24px;
}

.testimonials__stars {
    margin-top: 24px;
}

.testimonials__desc2--heading {
    font-size: 20px;
    margin-top: 16px;
}

.testimonials__desc2 {
    font-size: 16px;
    color: #4a5568;
    font-weight: 600;
    margin: 16px 0 40px 0;
}

.testimonials__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials__person {
    display: flex;
    align-items: center;
}

.testimonials__person--desc {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials__person--name {
    font-size: 20px;
}

.testimonials__person--title {
    font-size: 16px;
    color: #7c8ba1;
    font-weight: 500;
}

.testimonials__nav--arrows {
    display: flex;
    justify-content: space-between;
}

.fa-arrow-left,
.fa-arrow-right {
    color:#6415ff;
}

.testimonials__nav--arrow {
    background-color: #edf2f7;
    margin: 0 12px;
    padding: 16px;
    border-radius: 50px;
    transition: all 300ms ease;
}

.testimonials__nav--arrow:hover {
    background-color: rgba(190, 200, 211, 0.827)
}

/*

FAQS

*/

.faq__desc {
    max-width: 600px;
    text-align: center;
    margin-top: 16px;
}

.faq__container {
    width: 70%;
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.faq__box {
    width: 100%;
    background-color: #edf2f7;
    border-radius: 10px;
    margin-top: 20px;
    padding: 16px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms ease;
}

.faq__box:hover {
    background-color: #dde1e6;
}

.faq__question {
    font-size: 20px;

}

/*

DEVBOX

*/

.devbox__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 96px 0;
}

.devbox__container {
    background-color: #6415ff;
    padding: 96px 0;
    border-radius: 10px;
}

.devbox__container--contents {
    margin: 0 42px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.devbox__text {
    text-align: left;
    width: 50%;
    color: white;
    font-size: 30px;
}

.devbox__buttons {
    display: flex;
    justify-content: space-around;
}

.devbox__getstarted {
    margin-right: 32px;
    padding: 20px 40px;
    background-color: #f56565;
    border-radius: 50px;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
    transition: all 300ms ease;
}

.devbox__getstarted:hover {
    background-color: #f35252; 
}

.devbox__contactus {
    padding: 20px 40px;
    color: white;
    border: 1px white solid;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
    transition: all 300ms ease;
}

.devbox__contactus:hover {
    background-color: white;
    color:#6415ff
}

/*

FOOTER

*/

.footer__row {
    width: 100%;
    margin: 0 auto;
    padding: 96px 0;
    background-color: #6415ff;
}

.footer__contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 32px 64px;
    border-bottom: 2px rgba(190, 200, 211, 0.3) solid;
}

.footer__column {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer__column--header {
   color: white;
   font-size: 16px;
   font-weight: 600; 
}

.footer__column--link {
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
    position: relative;
    transition: all 300ms ease;
}

.footer__column--link:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -5px;
    left: 0;
    transition: all 300ms ease;
}

.footer__column--link:hover:after {
    background-color: white;
}

.footer__bottom {
    width: 100%;
    margin-top: 64px;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site__logo--img-footer {
    height: 32px;
    width: 32px;
    border-radius: 2px;
}

.site__logo--text-footer {
    margin-left: 8px;
    color: white;
    font-size: 20px;
}

.footer__copyright {
    color: white;
    font-size: 16px;
}

.footer__logos {
    display: flex;
    justify-content: space-between;
}


.footer__logo {
    margin-right: 16px;
    padding: 8px;
    background-color: white;
    border-radius: 50px;
    transition: all 300ms ease;
}

.footer__logo:last-child {
    margin: 0;
}

.footer__logo:hover {
    background-color: #cbd5e0;
}


/*

RESPONSIVENESS

*/

@media (max-width: 1024px) {
    .nav__link--list {
        display: none;
    }

    .landing__page--wrapper {
        flex-direction: column;
        align-items: center;
    }

    .landing__page--query {
        width: 80%;
    }

    .landing__page--heading {
        font-size: 30px;
        text-align: center;
    }

    .landing__page--desc {
        text-align: center;
        margin: 20px 0;
    }

    .landing__page--customers--wrapper {
        margin-top: 48px;
    }

    .landing__page--customers {
        font-size: 14px;
        text-align: center;
    }

    .landing__page--img--wrapper {
        padding-top: 20px;
        width: 50%;
    }

    .service {
        width: calc(100% / 2.5);
    }

    .work__heading {
        font-size: 36px;
    }

    .work__desc {
        font-size: 16px;
    }

    .values__features {
        flex-direction: column;
    }

    .values__features--container {
        margin: 40px 0 0 0;
    }

    .pricing__heading {
        font-size: 48px;
    }

    .pricing__container {
        flex-direction: column;
        align-items: center;
    }

    .pricing {
        margin-right: 0;
    }

    .testimonials__picture--box {
        width: 60%;
    }

    .testimonials__text {
        width: 100%;
        padding-left: 48px;
    }

    .testimonials__heading {
        font-size: 36px;
        text-align: left;
    }

    .testimonials__desc1 {
        font-size: 16px;
    }

    .faq__heading {
        font-size: 48px;
    }

    .faq__container {
        width: 100%;
    }

    .devbox__container--contents {
        flex-direction: column;
    }
    
    .devbox__text {
        width: 80%;
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .service {
        width: calc(100% / 2);
    }

    .work__wrapper {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 40px 0;
    }

    .steps__wrapper {
        display: flex;
        flex-direction: column;
    }

    .landing__page--img--wrapper,
    .work__picture--box,
    .steps__picture--box,
    .values__picture--box,
    .testimonials__picture--box {
        width: 80%;
        margin-bottom: 24px;
    }

    .work__text,
    .steps__text,
    .values__text,
    .testimonials__text {
        width: 80%;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .work__sub-heading,
    .work__heading,
    .work__desc,
    .testimonials__desc1,
    .testimonials__desc2,
    .step__name,
    .step__desc {
        text-align: center;
    }

    .work__desc {
        font-size: 14px;
    }

    .step {
        flex-direction: column;
        width: 70%;
    }

    .step__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .values__features--container {
        align-items: center;
    }

    .values__features--desc {
        text-align: center;
        width: 70%;
    }

    .testimonials__text {
        padding: 0;
    }

    .faq__question {
        font-size: 18px;
    }

    .footer__contents {
        flex-wrap: wrap;
        justify-content: start;
        padding-bottom: 32px;
    }

    .footer__column {
        width: calc(100% / 3);
        padding-bottom: 32px;
    }

    .footer__bottom {
        flex-direction: column;
    }

    .footer__copyright {
        margin: 32px 0;
    }
}

@media (max-width: 640px) {
    .landing__page--input--box {
        min-width: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .landing__page--input {
        font-size: 16px;
        width: 100%;
        border-radius: 100px;
        padding-right: 32px;
    }
    
    .landing__page--input--button {
        width: 100%;
        margin: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .features__heading {
        font-size: 36px;
    }

    .features__desc {
        width: 100%;
        font-size: 14px;
    }

    .service {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service__box {
        margin: 0;
    }

    .service__title,
    .service__desc {
        text-align: center;
    }

    .service__icon--box {
        padding-bottom: 16px;
    }

    .testimonials__nav,
    .testimonials__person {
        flex-direction: column;
    }

    .testimonials__person--desc {
        padding: 8px 0 24px;
    }

    .faq__question {
        text-align: left;
    }

    .devbox__container--contents {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .devbox__text {
        width: 100%;
        font-size: 24px;
    }

    .devbox__buttons {
        flex-direction: column;
    }

    .devbox__getstarted {
        margin: 0 0 16px 0;
    }

    .footer__contents {
        justify-content: center;
        padding-bottom: 32px;
    }

    .footer__column {
        width: auto;
        align-items: center;
        padding: 32px 16px;
    }
}

@media (max-width: 476px) {
    .work__heading,
    .testimonials__heading {
        font-size: 30px;
    }
}